In [7]:
def fabbonacci(n):
    a=0
    b=1
    for i in range(n):
        print(a,end=" ")
        c=a+b
        a=b
        b=c
fabbonacci(8)

0 1 1 2 3 5 8 13

In [9]:
def train_val_split(n):
    train=.7*n
    val=.2*n
    test=.1*n
    print(train,test,val)
train_val_split(200)

140.0 20.0 40.0

# Write a program that will give you the sum of 3 digits

In [16]:
user2=input("Enter the user input")
total=0
for digit in user2:
    total+=int(digit)
print(total)

6

# Swap two numbers

In [25]:
user11=int(input("Enter the first Number"))
user12=int(input("Enter second Number"))
print("Number without swap",user11,user12)
user11,user12=user12,user11
print("Number with swap",user11,user12)

Number without swap 12 21
Number with swap 21 12

# Swap two numbers without temp variable

In [21]:
user13=int(input("Enter the first Number"))
user14=int(input("Enter the Second Number"))
tem=user13
user13=user14
user14=tem
print(user13,user14)

5 4

# Swap two numbers without temp variable

In [24]:
user15=int(input("Enter the user first input"))
user16=int(input("Enter the user second input"))
user15=user15+user16
user16=user15-user16
user15=user15-user16
print(user15,user16)

2 1

# Program: Find the Oldest Age Among Three Ages

In [30]:
a=int(input("enter a"))
b=int(input("Enter b"))
c=int(input("enter c"))
def age(a,b,c):
    if a>b and a>c:
        print(a)
    elif b>a and b>c:
        print(b)
    else :
        print(c)
age(a,b,c)

3

# Program: Find the Oldest Age Among any Ages

In [37]:
n=int(input("Enter the user input number"))
largest=None
for i in range(n):
    num=int(input("Enter the number "))
    if largest is None:
        largest=num
    elif num>largest:
        largest=num
print(largest)

19

# Factorial of number

In [43]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
result=factorial(0)
print(result)

1

In [47]:
def factorial_for_loop(n):
    result=1
    if n==0 or n==1:
        return 1
    else:
        for i in range(1,n+1):
            result*=i
        return result
result=factorial_for_loop(5)
print(result)

120

# Write a program that will reverse a four digit number.Also it checks whether the reverse is true.

In [11]:
def sqrt(n):
    if n<0:
        return ValueError("number is not valid")
    low=0
    high=n
    precision=0.00000000001
    while (high-low)>precision:
        mid=(high+low)/2
        if mid*mid>n:
            high=mid
        else:
            low=mid
    return (high+low)/2
user_20=float(input("Enter the number"))
result_20=sqrt(user_20)
print(result_20)

5.0990195135916565

In [31]:
def sqrt_again(n):
    if n<0:
        return ValueError("Number is not valid")
    low=0
    high=n
    sum=0
    precession=0.000000000000001
   
    while (high-low)>precession:
        sum+=1
        mid=(high+low)/2
        if mid*mid>n:
            high=mid
        else:
            low=mid
    print(sum)
    return (high+low)/2
user_21=float(input("Enter the value of number want to sqrt"))
result_21=sqrt_again(user_21)
print(result_21)

54
5.385164807134505